<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_layer.Properties.Settings.QLMAConnectionString"
            connectionString="Data Source=.\;Initial Catalog=QLMA;Persist Security Info=True;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>